<form (ngSubmit)="onsubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Initial Investment</label>
      <input
        id="initial-investment"
        type="number"
        name="enteredInitialInvestment"
        [(ngModel)]="enteredInitialInvestment"
      />
    </p>

    <p>
      <label for="annual-investment">Annual Investment</label>
      <input
        id="annual-investment"
        type="number"
        name="enteredAnualInvestment"
        [(ngModel)]="enteredAnualInvestment"
      />
    </p>
  </div>

  <div class="input-group">
    <p>
      <label for="expected-return">Expected Investment</label>
      <input
        id="expected-return"
        type="number"
        name="enteredExpectedReturn"
        [(ngModel)]="enteredExpectedReturn"
      />
    </p>

    <p>
      <label for="duration">Duration</label>
      <input
        id="duration"
        type="number"
        name="enterDuration"
        [(ngModel)]="enterDuration"
      />
    </p>
  </div>

  <p>
    <button>Calculate</button>
  </p>
</form>
